.fondo{
  background: url(./assets/fondomadera.jpg);
}
.navBar{
  display: flex;
 
  background-color: rgba(71, 66, 66, 0.212);
}
.cardi{
  display: flex;
  width: 300px;
  height: auto;
  object-fit: contain;  
  box-shadow: 7px 13px rgb(64, 59, 59);
  border-radius: 50px;
  background-color: rgb(163, 178, 196);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, rgb(208, 232, 240), rgb(208, 232, 240), lightblue, rgb(65, 191, 226));
} 

.imag {
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  width: 300px;
  
  
}
.botonn{
  padding: 2px 2px;
  background: rgba(1, 68, 1, 0.562);
  background-color: rgba(1, 68, 1, 0.562);
}
.chakra-menu__menuitem{
  background-color: blueviolet;
}

.chakra-container{

  padding-left: 0;
  margin-top: 25px;
}
.cardin{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.textDetail{
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}
.all{
  margin-top: 15px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(208, 232, 240), rgb(208, 232, 240), lightblue, rgb(65, 191, 226));
}
.cardiSel{
  background: linear-gradient(to bottom, rgb(208, 232, 240), rgb(208, 232, 240), lightblue, rgb(65, 191, 226));

}

.chakra-heading{
  margin-top: 35px;
  margin-bottom: 15px; 
}
.chakra-form-control {
  margin-top: 25px;
  margin-bottom: 150px;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.chakra-card{
  margin-top: 25px;
  margin-bottom: 25px;
}


